html, body {
	height: 100%;
	padding: 0 0;
	margin: 0 0;
	border: 0 0;
}

.leftSidebar, .content, .rightSidebar {
	height: 100%;
	float: left;
}

.leftSidebar, .rightSidebar {
	width: 20%;
}

.content {
	width: 60%;
}