a {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: none;
}

html, body {
	height: 100%;
	padding: 0 0;
	margin: 0 0;
	border: 0 0;
}

.leftSidebar, .content, .rightSidebar {
	height: 100%;
	float: left;
}

.leftSidebar, .rightSidebar {
	width: 20%;
}

.content {
	width: 60%;
}

.owner-name {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	padding: 5px 5px;
	margin: 0 0;
	border: 0 0;
}

.tagline {
	display: block;
	background: #ccc;
	padding: 5px 5px;
	font-size: 1em;
}

.postTitle {
	font-size: 0.85em;
}

.listHeading {
	text-align: center;
	font-size: 1.25em;
	display: block;
	background: #eee;
	padding: 10px 0;
	margin: 0 0;
}