<h2 class="owner-name"><a href="#">{{owner.firstName + ' ' + owner.lastName}}</a></h2>
<h4 class="tagline">{{owner.tagline}}</h4>
<h5 class="listHeading">Recent Posts</h5>
<ul class="list-group recentPosts">
    <li class="list-group-item recentPostsEntry" ng-repeat="titles in owner.posts">
        <a href="#">{{titles.postTitle}}</a>
    </li>
</ul>
<h5 class="listHeading">Recent Favorites</h5>
<ul class="list-group recentFavorites">
    <li class="list-group-item recentFavoritesEntry" ng-repeat="favorite in owner.favorites">
        <span class="favoriteTitle">{{favorite.favoriteTitle}}</span> {{' by ' + favorite.favoriteAuthor}}
    </li>
</ul>