<h2>Popular Posts</h2>
<ul class="media-list">
  <li class="media popularPostsItem" ng-repeat="posts in frontpage">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="images/images.jpg">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{posts.popularPostTitle + ' - ' + posts.popularPostVotes | uppercase}} </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic iure molestias at rem, assumenda, facere error minima reprehenderit odit doloremque! Nihil voluptatibus quo est, ut maxime vero vel quibusdam quae.</p>
    </div>
  </li>
</ul>